services:
  - type: web
    name: sistema-bancario
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python run_once.py && gunicorn sistema_bancario.wsgi:application"
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: sistema_bancario.settings
      - key: DATABASE_URL
        fromDatabase:
          name: sistema_bancario_db
          property: connectionString

databases:
  - name: sistema_bancario_db
    plan: free
